/* Geral */

* {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;;
}

::-webkit-scrollbar { /* Lagura do Scroll*/
    width: 15px;
}
::-webkit-scrollbar-thumb { /* Barra do scroll */
    background: #aaaaaa;
    border-radius: 100px;
    background-clip: content-box;
    border: 3px transparent solid;
}

::-webkit-scrollbar-track { /*fundo do scroll*/
    background: #ffffff;
}
::-webkit-scrollbar-thumb:hover { /*Animação do scrollBar*/
    background: #7e7e7e;
    background-clip: content-box;
    border: 3px transparent solid;
}


/* Início ----------------------> */
header{
    background-color:white;
    width: auto;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    position: sticky;
    top: 0;
    z-index: 2; /* Nivel se sobreposição -> Camada */
}

.Cima{
    margin: 0 auto;
    padding: 10px;
    width: 1100px;
    height: 40px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    /* border: 5px black solid;
    border-radius: 5px; */
}

.pesquisa{
    padding: 5px;
    padding-left: 10px;
    padding-right: 34.5px;
    width: 700px;
    height: 30px;
    border-radius: 5px;
    background-color: #d3d3d3;
    border: none;
    font-size: 16px;
    color: #28282b;
    outline-color: #7e7e7e;
    
}


.Cima button{
    height: 40px;
    width: 40px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #d3d3d3;
    font-size: 20px;
    color: rgb(82, 82, 82);
    align-items: center;
    transition: 0.3s;
}



.Cima Button:hover{
    background-color:  #FFAA33;
    transition: 0.3s;
    color: white;
    cursor: pointer;

}


/* Banner */
.banner{
    height: 485px;
    padding: 15px;
    background-color: #FFAA33;
}

.cards{
    margin: 15px auto;
    height: 370px;
    width: 1100px;
    background-color: #28282b;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
}
.cards:hover{
    transition: 0.3s;
    transform: scale(1.01);
}

/* Meio ----------------------> */
.Meio{
    margin: auto;
    height: auto;
    width: 1270px;

    position: relative;
    top: -70px;
    border: 10px #FFFAFA solid;
    border-radius: 15px 15px 20px 20px;
    background-color: #E5E4E2;

    display: flex;
    flex-direction: column;
}

.NavMeio{
    height: 40px;
    width: auto;
    padding: 5px;
    padding-left: 30px;
    background-color: #d3d3d3b4;
    border-radius: 5px 5px 0px 0px; 
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;

}
.ButtonNav{
    font-size: 15px;
    height: 35px;
    width: auto;
    padding: 2.5px 20px 2.5px 20px;
    border-radius: 15px;
    border: 2px solid #818181;
    background: transparent;
    color: #28282b;
    
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}
.ButtonNav:hover{
    background-color: #28282b;
    color: white;
    transition: 0.3s;
    border: transparent 2px solid;
    cursor: pointer;

}

.catalogo{
    padding: 10px;
    width: auto;
    min-height: 1100px;
    
    border-radius: 0px 0px 10px 10px; 

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
.box{
    height: 280px;
    width: 220px;
    padding: 5px;
    border-radius: 15px;
    background-color: #28282b;
    display: flex;
    flex-direction: column;
    border: transparent 4px solid;
    transition: 0.5s;
}
.box:hover{
    transition: 0.3s;
    border: #FFAA33 4px solid;
    cursor: pointer;
}

.box img{
    height: 200px;
    border-radius: 5px 5px 5px 5px;
}
.CardValue{
    font-size: 14px;
    height: 50px;
    width: auto;
    padding: 5px;
    color: white;
    padding-top: 15px;
    padding-left: 10px;
}


/* Fim ----------------------> */
footer{
    background-color: #28282b;
    height: 170px;
    padding: 0px;
}

.baixo{
    height: 100px;
    width: 1200px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 5px black solid;
    border-radius: 5px; */

}

/* CAMPO DE TESTE */


